*{
  background-color: black;
  color: white;
}
.main-container{
  margin-left: 40%;
  margin-top: 8%;
}
button{
  background-color: white;
  color: black;
  width: 11rem;
}
.msg1{
  color: green;
}
.msg2{
  color: red;
}
.profile-container{
  margin-top: 8%;
  margin-left: 40%;
}